<section role="main" class="sections-container fixed-screen">
		<section class="section-fix js-first-screen first-screen-section ovh wrapper">
			<div class="wrapper fullheight">
        {% for main in mains %}
        <img src="{{ MEDIA_URL }}{{ main.image }}" class="cover-el">
        {% endfor %}

			</div>
			<div class="wrapper pa top left bottom right text-slider-wrapper">
				<div class="dots-container"></div>
				<div class="text-slider-block">
					<div class="text-slider-container">
						<div class="wrapper owl mainslider slider" data-config='{"items": 1, "smartSpeed": 1000, "dotsContainer": ".dots-container"}'>

              <div class="wrapper zim">
								<h3 class="text ff2 fz10 fw1 lss cw ac slidertext">Luxury is in the experience</h3>
								<p class="text ff2 fw3 cw ac lss slidertext">Continually actualize enterprise convergence rather than strategic best practices.</p>
								<div class="wrapper ac mt40">
									<span class="button wrapper pt5 pb5"><a class="link fz3 lh22 ttu fw3 lss" href="#">Download Broschure</a></span>
								</div>
							</div>

							<div class="wrapper zim">
								<h3 class="text ff2 fz10 fw1 lss cw ac slidertext">Luxury is in the experience</h3>
								<p class="text ff2 fw3 cw ac lss slidertext">Continually actualize enterprise convergence rather than strategic best practices.</p>
								<div class="wrapper ac mt40">
									<span class="button wrapper pt5 pb5"><a class="link fz3 lh22 ttu fw3 lss" href="#">Download Broschure</a></span>
								</div>
							</div>
							<div class="wrapper zim">
								<h3 class="text ff2 fz10 fw1 lss cw ac slidertext">Luxury is in the experience</h3>
								<p class="text ff2 fw3 cw ac lss slidertext">Continually actualize enterprise convergence rather than strategic best practices.</p>
								<div class="wrapper ac mt40">
									<span class="button wrapper pt5 pb5"><a class="link fz3 lh22 ttu fw3 lss" href="#">Download Broschure</a></span>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
</section>
