{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<section class="section-fix new-abs-section tbgc3" id="aboutus">
			<div class="wrapper">
				<div class="row fullwidth nogutter custom-row">
					<div class="column large-6">
						<div class="wrapper aboutus-slider js-aboutus-slider owl" data-config='{"items": 1, "smartSpeed": 700}'>
							<div class="place-item js-place-item" data-location="Tel Aviv, Israel" data-unit="c">
								<!-- <div class="place-view"><img src="http://placehold.it/945x691" alt=""></div> -->
								<iframe width="650" height="400" src="https://www.youtube.com/embed/mJj1rX9P6ks" frameborder="0" allowfullscreen></iframe>

								<div class="place-weather wrapper pa top left fullwidth ar">
									<div class="js-item-weather ar wrapper cw inline"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="column large-6 wrapper p30 new-abs-wrapper">
						<div class="row">
							<div class="column">
								<h2 class="text fz8 fw3 ttu lsm mb30 ctm ac">about us</h2>
							</div>
						</div>
						<div class="row">
							{% for about in abouts %}
							<div class="column medium-6 wrapper pr15 pl15">
								<div class="component ac about-item">
									<div class="wrapper mb20 pr">
										<div class="wrapper pr icon">
											<div class="wrapper lh0">
												<span class="text fz9 cm">
													<i class="pe-7s-leaf"></i>
												</span>
											</div>
										</div>
									</div>
									<p class="text fw3 fz3 fsi mb80 ctm lh14">
										{{ about.description }}
									</p>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="tbgc1 pt50 section-fix" id="tours">
			<div class="wrapper">
				<div class="row">
					<div class="column large-12">
						<h2 class="text fz8 fw3 ttu lsm mb30 title ac">Tours</h2>
					</div>
				</div>
				<div class="row">
					<div class="column">
						<div class="portfoliofilters ac">
							<ul class="list inline xsgutter mb50">
								<li><span class="text fz3 fsi fw3 ttu">sort by:</span></li>
								<li class="portfoliofilter active" data-group="all"><span class="text fz3 fsi fw3 ttu pointer">all</span></li>
								<li class="portfoliofilter" data-group="italy"><span class="text fz3 fsi fw3 ttu pointer">Italy</span></li>
								<li class="portfoliofilter" data-group="canada"><span class="text fz3 fsi fw3 ttu pointer">Canada</span></li>
								<li class="portfoliofilter" data-group="uk"><span class="text fz3 fsi fw3 ttu pointer">United Kingdom</span></li>
								<li class="portfoliofilter" data-group="taiwan"><span class="text fz3 fsi fw3 ttu pointer">Taiwan</span></li>
								<li class="portfoliofilter" data-group="fiji"><span class="text fz3 fsi fw3 ttu pointer">Fiji</span></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row fullwidth nogutter">
					<div class="column large-12">
{% for product in products %}
						<div class="portfolio component">
							<div class="sizer"></div>
							<div class="item wrapper p5" data-groups='["italy", "fiji"]'>
								<div class="js-offer-block">
									<div class="wrapper pa fullwidth fullheight zim">
										<div class="wrapper fullwidth pa left bottom description">
											<div class="wrapper aj pr20 pl20 pb10 pt15">
												<h3 class="text vam fz5 cw fw3 js-name inline mr5">Weekend surfing</h3>
												<div class="wrapper vam mt5 js-cost inline">
													<span class="inline vat text fz9 fw3 lh1 cw">{{ product.price }}</span>
													<span class="inline vat text fz6 fw3 lh1 cw mt5 ml10">$</span>
												</div>
												<div class="item-details hide">
													<p class="js-description">
														Aenean in nulla posuere, volutpat magna non, fermentum lacus. Nunc auctor arcu eget lobortis cursus. Quisque a enim ornare, molestie nulla at, posuere metus. Mauris consequat libero sed velit fermentum, sit amet ntesque et lacus vitae, vehicula aliquet tortor.Aenean in nulla posuere, volutpat magna non, fermentum lacus.
														<br>
														Nunc auctor arcu eget lobortis cursus. Quisque a enim ornare, molestie nulla at, posuere metus. Mauris consequat libero sed velit fermentum, sit amet ntesque et lacus vitae, vehicula aliquet tortor.
													</p>

													<div class="days-list">
														<div class="day">
															<p class="js-title">1st Day</p>
															<p class="js-acc-description">Aenean in nulla posuere, volutpat magna non, fermentum lacus. Nunc auctor arcu eget lobortis cursus. Quisque a enim ornare, molestie nulla at, posuere metus.</p>
														</div>
														<div class="day">
															<p class="js-title">2nd Day</p>
															<p class="js-acc-description">Aenean in nulla posuere, volutpat magna non, fermentum lacus. Nunc auctor arcu eget lobortis cursus. Quisque a enim ornare, molestie nulla at, posuere metus.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<img src="{{ MEDIA_URL }}{{ product.image }}" class="image" alt="portfolio"  data-large-images='["400x260", "400x260", "400x260"]'>
									<span class="pointer js-show-details portfolio-view-more wrapper pa fullwidth fullheight zil" >
									</span>
								</div>
							</div>
						</div>
							{% endfor %}
					</div>
				</div>
			</div>
		</section>

		<section class="section-fix tbgc5 pb70 pt100 withus-section">
					<div class="row custom-row fullwidth nogutter">
						<div class="column large-6">
							<div class="wrapper ac">
								<h2 class="text fz8 fw3 ttu lsm mb30 title">travel with us</h2>
							</div>
							<div class="wrapper share-container ac">
								<div class="wrapper inline share-btn facebook ml15 mr15 mb30">
									<a href="#">
										<span class="wrapper inline btn-icon pl20 pr20">
											<span class="text fa fa-facebook cw lh26 fz4"></span>
										</span>
										<span class="wrapper inline btn-space pl20 pr20">
											<span class="text btn-space ttu cw lsm fw3 lh26 fz4">facebook</span>
										</span>
									</a>
								</div>
								<div class="wrapper inline share-btn twitter ml15 mr15 mb30">
									<a href="#">
										<span class="wrapper inline btn-icon pl20 pr20">
											<span class="text fa fa-twitter cw lh26 fz4"></span>
										</span>
										<span class="wrapper inline btn-space pl20 pr20">
											<span class="text btn-space ttu cw lsm fw3 lh26 fz4">twitter</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<div class="column large-6">
							<div class="wrapper ac">
								<h2 class="text fz8 fw3 ttu lsm mb30 title">payment methods</h2>
							</div>
							<div class="wrapper ac payment-method">
								<div class="wrapper inline ac method-item mb30">
									<img src="http://placehold.it/67x18" alt="">
								</div>
								<div class="wrapper inline ac method-item mb30">
									<img src="http://placehold.it/67x18" alt="">
								</div>
								<div class="wrapper inline ac method-item mb30">
									<img src="http://placehold.it/67x18" alt="">
								</div>
								<div class="wrapper inline ac method-item mb30">
									<img src="http://placehold.it/67x18" alt="">
								</div>
							</div>
						</div>
					</div>
				</section>



{% endblock %}
